h1
{
text-align:center
}
.style
{
height:150px;       
width:200px;       
float:right
}
.colour
{
background-color:#acddde
}
fieldset
{
height:1350px;         
width:70%;         
margin-left:100px;         
border:2px solid black;         
border-radius:10px;
}       
table
{
border-collapse:collapse;
}  
.top_space
{
margin-top:50px
}  
th,td
{
border:2px solid black;     
height:40px;      
width:250px;     
text-align:center;
}    
div
{
margin-top:20px
}  
.space
{
margin-left:30px;
}
.design
{
margin-left:120px
}
.design1
{
margin-left:126px
}   
.design2
{
margin-left:109px
}
.design3
{
margin-left:60px
}
.design4
{
margin-left:54px
}
.design5
{
margin-left:84px
}
.design6
{
margin-left:61px
}  
.design7
{
margin-left:26px
}
.design8
{
margin-left:11px
}
.design9
{
margin-left:107px
}
.model
{
margin-left:50px
}


